@model List<banhang.Models.CartItem>
<div class="cart">
    <p>
        Welcome to Pet Store! <span> Giỏ Hàng</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm 
       
            <ul class="dropdown">
               
            </ul>
       
           
        </div>
    </p>
</div> 
